html, body {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

.header {
  position: fixed;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

#root {
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

.board-row {
  display: flex;
  justify-content: center;
}

.status {
  margin-bottom: 16px;
  font-size: 2em;
  text-align: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  background: #fff;
  border: 1px solid #999;
  font-size: 4em;
  font-weight: bold;
}

.square::after {
  display: block;
  padding-bottom: 100%;
  content: "";
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  max-width: 400px;
  width: 100%;
}